section.courses
	div.courses__container.container
		h2.courses__heading Курсы иностранных языков для любого уровня
		+courses(mainData).courses__card-slider.card-slider
		a.courses__all-courses.button-transparent(href="#") Все курсы
