div.discount
	div.discount__container.container
		h2.discount__heading Новая система скидок в Language2GO: успейте забрать максимум!
		div.discount__wrap
			input.discount__checker(type="checkbox" id="discount-checker")
			div.discount__content
				| Для многих стоимость изучения иностранного языка является важным критерием при выборе системы обучения. Именно поэтому мы
				| предлагаем нашим клиентам не только бесплатные пробные уроки, но и гибкую систему скидок, которая позволит существенно снизить затраты.
				| Начните с выбора оптимальной программы обучения: бесплатное тестирование определит ваш уровень знаний и предложит лучший вариант для быстрого
				| прогресса. Следующий шаг — активация купона и приятное изменение стоимости курса в меньшую сторону.
				| Купоны на скидку можно найти в соцсетях Language2GO, получить в рассылке для лояльных клиентов или в приобрести в подарок для ваших близких, а
				| бесплатные уроки ждут всех желающих на нашем сайте!
				div.discount__damper
			label.discount__read-more(for="discount-checker")
