header.header
	div.header__container.container.container--header
		if isHomePage
			div.header__logo
				img(src="./img/content/logo-header.svg" width="96" height="32" alt="Языковая школа")
		else
			a.header__logo(href="#!")
				img(src="./img/content/logo-header.svg" width="96" height="32" alt="Языковая школа")
		+navigation(headerData).header__navigation
		button.header__login-open.button.button--primary(type="button") Войти
		button.header__menu-open(type="button" aria-expanded="false")
			span.visually-hidden Меню
			span
			span
			span
