header.header.container.container--header
	a.header__logo(href="#")
		picture
			source(media="(min-width: 768px)" srcset="./img/static/header-logo-tablet.svg" width="120" height="40")
			img(src="./img/static/header-logo-mobile.svg" width="96" height="32" alt="Языковая школа" aria-hidden="true")
	.header__nav.nav
		ul.nav__list
			each link in headerData.navigation
				if link.button
					li.nav__more.nav__item--parent
						button.nav__more-button(type="button")!= link.button
							.nav__more-icon
								+icon(14, 8, 'more-icon')
						ul.nav__list.nav__list--child
							each item in link.list
								li.nav__item.nav__item--child
									a.nav__link.nav__link--child(href=item.href)!= item.text
				else
					li.nav__item.nav__item--parent
						a.nav__link(href=link.href)!= link.text
	a.header__login(href="#")
		span
			|Войти
	button.nav__menu(type="button")
		span.visually-hidden Открыть меню
		.nav__menu-closed
			+icon(30, 24, 'burger-menu-closed')
		.nav__menu-opened.visually-hidden
			+icon(30, 24, 'burger-menu-opened')
