section.home-preview
	div.home-preview__container.container
		div.home-preview__student-pic
			picture
				source(media="(min-width: 1280px)" srcset="img/content/student-desktop.webp" type="image/webp")
				source(media="(min-width: 768px)" srcset="img/content/student-tablet.webp" type="image/webp")
				source(srcset="img/content/student-mobile.webp" type="image/webp")
				source(media="(min-width: 1280px)" srcset="img/content/student-desktop.png")
				source(media="(min-width: 768px)" srcset="img/content/student-tablet.png")
				img(src="img/content/student-mobile.png" width="288" height="200" alt="Ученик за ноутбуком")
		div.home-preview__content-wrapper
			h1.home-preview__heading #[span Language To go]Онлайн-школа иностранных языков
			p.home-preview__text Достигайте своих целей с помощью авторских игровых методик от носителей языка
		div.home-preview__buttons-wrapper
			a.home-preview__try-free.button.button--second(href="#") Попробовать бесплатно
			button.home-preview__play-promo(type="button")
				span.home-preview__play-icon
					+icon(20, 24, 'play-promo')
				span.home-preview__text-promo Посмотреть промо-ролик
