section.preview
	div.preview-container.container
		div.preview__student-pic
			picture
				source(media="(min-width: 1280px)" srcset="img/content/student-desktop.webp" type="image/webp")
				source(media="(min-width: 768px)" srcset="img/content/student-tablet.webp" type="image/webp")
				source(srcset="img/content/student-mobile.webp" type="image/webp")
				source(media="(min-width: 1280px)" srcset="img/content/student-desktop.png")
				source(media="(min-width: 768px)" srcset="img/content/student-tablet.png")
				img(src="img/content/student-mobile.png" width="288" height="200" alt="Ученик за ноутбуком")
		div.preview__discription-wrapper
			p.preview__school-name Language to go
			h1.preview__discription Онлайн-школа иностранных языков
			p.preview__text Достигайте своих целей с помощью авторских игровых методик от носителей языка
		div.preview__buttons-wrapper
			a.preview__try-free.button.button--second(href="#") Попробовать бесплатно
			div.preview__watch-promo
				button.preview__play-promo(type="button")
					+icon(20, 24, 'play-promo')
				p.preview__text-promo Посмотреть промо-ролик
		div.preview__player-wrapper
			div.preview__player-container
				div.preview__player-frame
					iframe(id="video" src="https://www.youtube.com/embed/5JEbc51kgLo?enablejsapi=1&html5=1" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
