section.questions
	div.questions__container.container
		ul.questions__drop-list
			li.questions__drop-item
				div.questions__drop-button Как проходит обучение на онлайн-курсах?
					button.questions__drop-arrow(type="button" aria-label="Открыть блок")
						+icon(32, 32, "arrow-down")
				div.questions__drop-content
					p
						| Обучение проходит в формате видео-лекций на нашей интерактивной платформе. После приобретения курса,
						| вы сразу же получаете письмо на почту с доступом в личный кабинет, в котором уже открыты все уроки приобретенного курса.
						| Каждый урок состоит из видео-лекции по теме и нескольких десятков интерактивных заданий на отработку материала.
			li.questions__drop-item
				div.questions__drop-button Я покупаю пакет уроков или онлайн-курс, сколько он действует?
					button.questions__drop-arrow(type="button" aria-label="Открыть блок")
						+icon(32, 32, "arrow-down")
				div.questions__drop-content
					p
						| Обучение проходит в формате видео-лекций на нашей интерактивной платформе. После приобретения курса,
						| вы сразу же получаете письмо на почту с доступом в личный кабинет, в котором уже открыты все уроки приобретенного курса.
						| Каждый урок состоит из видео-лекции по теме и нескольких десятков интерактивных заданий на отработку материала.
			li.questions__drop-item
				div.questions__drop-button Как быстро я достигну результатов?
					button.questions__drop-arrow(type="button" aria-label="Открыть блок")
						+icon(32, 32, "arrow-down")
				div.questions__drop-content
					p
						| Обучение проходит в формате видео-лекций на нашей интерактивной платформе. После приобретения курса,
						| вы сразу же получаете письмо на почту с доступом в личный кабинет, в котором уже открыты все уроки приобретенного курса.
						| Каждый урок состоит из видео-лекции по теме и нескольких десятков интерактивных заданий на отработку материала.
