section.reasons
	div.reasons__container.container
		h2.reasons__heading Почему вы быстро освоите язык
		ul.reasons__list
			li.reasons__item
				div.reasons__pic-wrap
					picture
						source(media="(min-width: 1280px)" srcset="img/content/reasons-guys-desktop.webp" type="image/webp")
						source(media="(min-width: 768px)" srcset="img/content/reasons-guys-tablet.webp" type="image/webp")
						source(srcset="img/content/reasons-guys-mobile.webp" type="image/webp")
						source(media="(min-width: 1280px)" srcset="img/content/reasons-guys-desktop.png")
						source(media="(min-width: 768px)" srcset="img/content/reasons-guys-tablet.png")
						img(src="img/content/reasons-guys-mobile.png" width="287" height="173" alt="Парень и девушка учатся")
				div.reasons__description
					div.reasons__number.reasons__number--blue 01
					h3.reasons__item-heading Интересные уроки
					p.reasons__text
						| Короткие, но насыщенные уроки до 45 минут.#[br]
						| Более глубокий объем знаний, чем в других школах и даже чем предусмотрено международными стандартами.
			li.reasons__item
				div.reasons__pic-wrap
					picture
						source(media="(min-width: 1280px)" srcset="img/content/reasons-users-desktop.webp" type="image/webp")
						source(media="(min-width: 768px)" srcset="img/content/reasons-users-tablet.webp" type="image/webp")
						source(srcset="img/content/reasons-users-mobile.webp" type="image/webp")
						source(media="(min-width: 1280px)" srcset="img/content/reasons-users-desktop.png")
						source(media="(min-width: 768px)" srcset="img/content/reasons-users-tablet.png")
						img(src="img/content/reasons-users-mobile.png" width="288" height="139" alt="Пользователи платформы")
				div.reasons__description
					div.reasons__number.reasons__number--purple 02
					h3.reasons__item-heading Общение с другими учащимися
					p.reasons__text
						| Внутренний видеочат для общения с единомышленниками и отработки материала. Завести новых друзей по интересам просто.
			li.reasons__item
				div.reasons__pic-wrap
					picture
						source(media="(min-width: 1280px)" srcset="img/content/reasons-ui-desktop.webp" type="image/webp")
						source(media="(min-width: 768px)" srcset="img/content/reasons-ui-tablet.webp" type="image/webp")
						source(srcset="img/content/reasons-ui-mobile.webp" type="image/webp")
						source(media="(min-width: 1280px)" srcset="img/content/reasons-ui-desktop.png")
						source(media="(min-width: 768px)" srcset="img/content/reasons-ui-tablet.png")
						img(src="img/content/reasons-ui-mobile.png" width="287" height="189" alt="Пользовательский интерфейс сайта")
				div.reasons__description
					div.reasons__number.reasons__number--red 03
					h3.reasons__item-heading Удобный формат обучения
					p.reasons__text
						| Полностью автоматический процесс обучения на одной платформе с доступом на любом устройстве.
					a.reasons__start-learning.button.button--second(href="#") Начать обучение
