div.yt-modal__player-wrapper
	div.yt-modal__player-container
		div.yt-modal__player-frame
			iframe(id="video" src="https://www.youtube.com/embed/5JEbc51kgLo?enablejsapi=1&html5=1" frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen)
