-
	const headerData = {
		navigation:[
			{href:'#', text: 'Курсы'},
			{href:'#', text: 'О нас'},
			{href:'#', text: 'Блог'},
			{
				button: 'Еще',
				list: [
					{href:'#', text: 'FAQ'},
					{href:'#', text: 'Контакты'},
					{href:'#', text: 'Условия оплаты'},
				]
			}
		]
	};
