-
	const mainData = {
		courses:[
			{lang: 'DE', heading: 'Немецкий для начального уровня', duration: '45 часов', modules: '3', price: 'От 6 520 Р'},
			{lang: 'CN', heading: 'Китайский для среднего уровня', duration: '45 часов', modules: '3', price: 'От 6 520 Р'},
			{lang: 'ES', heading: 'Испанский для среднего уровня', duration: '45 часов', modules: '3', price: 'От 6 520 Р'},
			{lang: 'DE', heading: 'Немецкий для начального уровня', duration: '45 часов', modules: '3', price: 'От 6 520 Р'},
			{lang: 'CN', heading: 'Китайский для среднего уровня', duration: '45 часов', modules: '3', price: 'От 6 520 Р'},
			{lang: 'ES', heading: 'Испанский для среднего уровня', duration: '45 часов', modules: '3', price: 'От 6 520 Р'},
		]
	};
