.container {
	margin: 0 auto;
	padding-right: 16px;
	padding-left: 16px;
	width: 100%;
	max-width: 1540px;

	&--header {
		max-width: 1920px;
	}

	@include tablet {
		padding-right: 32px;
		padding-left: 32px;
	}

	@include desktop {
		padding-right: 50px;
		padding-left: 50px;
	}
}
