.discount {
	display: grid;
	margin-bottom: 60px;

	@include tablet {
		margin-bottom: 80px;
	}

	@include desktop {
		margin-bottom: 100px;
	}
}

.discount__container {
	display: grid;
}

.discount__wrap {
	display: grid;
	border-radius: 10px;
	padding: 24px 16px;
	background-color: var(--purple-secondary);
}

.discount__heading {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: 900;
	font-size: 22px;
	line-height: 133%;
	color: var(--title);

	@include tablet {
		margin-bottom: 24px;
		font-size: 32px;
		line-height: 131%;
	}

	@include desktop {
		font-size: 46px;
		line-height: 117%;
		letter-spacing: .01em;
	}
}

.discount__content {
	position: relative;
	overflow: hidden;
	max-height: 92px;
	font-weight: 500;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: .01em;
	color: var(--text);
	transition: max-height .2s ease-out;

	@include tablet {
		font-size: 16px;
		line-height: 150%;
		letter-spacing: .02em;
	}
}

.discount__damper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: linear-gradient(to bottom, rgb(239 239 255 / 0%), rgb(239 239 255 / 100%) 80%);
	opacity: 1;
}

.discount__read-more {
	display: inline-block;
	justify-self: end;
	padding: 10px;
	width: 100px;
	font-weight: 600;
	font-size: 14px;
	text-decoration: underline;
	color: var(--title);
	cursor: pointer;

	&::after {
		content: "развернуть";
	}
}

.discount__checker {
	position: absolute;
	opacity: 0;

	&:checked ~ .discount__read-more::after {
		content: "свернуть";
	}

	&:checked ~ .discount__content {
		max-height: 100%;
	}

	&:checked ~ .discount__content .discount__damper {
		opacity: 0;
	}
}
