.header {
	position: sticky;
	top: 0;
	z-index: 2;
	border-bottom: 1px solid var(--purple-secondry);
	padding: 12px 0 11px;
	background-color: #fff;

	@include tablet {
		padding: 16px 0 15px;
	}

	@include desktop {
		padding: 24px 0 23px;
	}
}

.header__container {
	display: flex;
	align-items: center;
}

.header__logo {
	display: flex;
	flex-shrink: 0;
	margin-right: auto;

	img {
		width: 96px;
		height: 32px;
	}

	@include tablet {
		img {
			width: 120px;
			height: 40px;
		}
	}

	@include desktop {
		margin-right: 56px;
	}
}

.header__navigation {
	margin: 0 -16px;

	@include tablet {
		margin: 0 -32px;
	}

	@include desktop {
		margin: 0 auto 0 0;
	}
}

.header__login-open {
	margin: 0 24px;

	@include tablet {
		margin: 0 32px;
	}

	@include desktop {
		margin-right: 0;
	}
}

.header__menu-open {
	position: relative;
	width: 30px;
	height: 30px;

	span {
		position: absolute;
		width: 26px;
		height: 4px;
		background-color: var(--purple);
		pointer-events: none;
	}

	&[aria-expanded="false"] {
		span {
			left: 2px;
			border-radius: 2px;
			transition: all .2s ease;

			&:nth-child(1) {
				top: 5px;
			}

			&:nth-child(2) {
				top: 13px;
			}

			&:nth-child(3) {
				top: 21px;
			}
		}
	}

	&[aria-expanded="true"] {
		/* stylelint-disable-next-line no-descending-specificity */
		span {
			top: 50%;
			left: 50%;
			border-radius: 2px;
			transition: all .2s ease;

			&:nth-child(1) {
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			&:nth-child(2) {
				display: none;
			}

			&:nth-child(3) {
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
	}

	@include desktop {
		display: none;
	}
}
