.home-preview {
	display: grid;
	margin-bottom: 58px;
	padding-top: 64px;

	@include tablet {
		margin-bottom: 88px;
	}

	@include desktop {
		margin-bottom: 100px;
	}
}

.home-preview__container {
	display: grid;
	justify-content: center;

	@include tablet {
		column-gap: 10px;
		grid-template-areas: "a b" "a b" "c c";
		grid-template-columns: 1fr 1fr;
		row-gap: 52px;
	}

	@include desktop {
		column-gap: 40px;
		grid-template-areas: "a b" "a b" "c b";
		grid-template-columns: 1fr 1fr;
		max-width: 1540px;
		row-gap: 56px;
	}
}

.home-preview__student-pic {
	display: grid;
	place-items: center;
	margin-bottom: 30px;

	@include tablet {
		grid-area: b;
		margin-bottom: 0;
	}

	/* stylelint-disable-next-line order/order */
	img {
		width: 100%;
	}
}

.home-preview__content-wrapper {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-self: end;
	margin-bottom: 30px;

	@include tablet {
		grid-area: a;
		margin-bottom: 0;
	}

	@include desktop {
		justify-content: flex-start;
		padding-top: 58px;
	}
}

.home-preview__heading {
	display: grid;
	margin: 0;
	margin-bottom: 18px;
	font-weight: 900;
	font-size: 32px;
	line-height: 42px;
	letter-spacing: .01em;
	color: var(--title);

	@include tablet {
		margin-bottom: 20px;
		font-size: 46px;
		line-height: 54px;
	}

	@include desktop {
		font-size: 60px;
		line-height: 70px;
	}
}

.home-preview__heading span {
	justify-self: start;
	margin-bottom: 12px;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: .01em;
	color: var(--blue);

	@include tablet {
		margin-bottom: 6px;
		font-size: 17px;
		line-height: 17px;
	}

	@include desktop {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 18px;
	}
}

.home-preview__text {
	line-height: 24px;
	letter-spacing: .02em;
	color: var(--grey);

	@include tablet {
		font-size: 18px;
		line-height: 144%;
		letter-spacing: .01em;
	}

	@include desktop {
		font-size: 20px;
		line-height: 175%;
	}
}

.home-preview__buttons-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	gap: 16px;

	@include tablet {
		grid-area: c;
		gap: 32px;
	}

	@include desktop {
		align-items: center;
		margin-bottom: 58px;
	}
}

.home-preview__try-free {}

.home-preview__watch-promo {
	display: flex;
	align-items: center;
	gap: 12px;
}

.home-preview__play-promo {
	display: flex;
	align-items: center;
	padding-right: 10px;
	gap: 12px;

	svg {
		fill: var(--red-focus);
	}

	&:active {
		.home-preview__play-icon {
			background-color: var(--red-hover);
		}
	}

	@include hover {
		svg {
			fill: var(--red-active);
		}
	}
}

.home-preview__play-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 18px 17px 18px 23px;
	background-color: var(--red-secondry);
}

.home-preview__text-promo {
	line-height: 24px;
	letter-spacing: .02em;
	text-align: center;
	color: var(--text);
}

.home-preview__player-wrapper {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(0 0 0 / 50%);
	opacity: 0;
	transition: opacity .3s ease-in-out;
	pointer-events: none;

	/* stylelint-disable-next-line order/order */
	&--active {
		position: fixed;
		z-index: 3;
		opacity: 1;
		pointer-events: visible;
	}
}

.home-preview__player-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

.home-preview__player-frame {
	position: relative;
	padding-top: 56.25%;
	width: 100%;

	iframe {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
	}
}
