/* stylelint-disable indentation */
/* stylelint-disable order/order */

@keyframes burgerAnimation {
	from {opacity: 0}
	to {opacity: 1}
}

.nav {
	position: absolute;
	top: 61px;
	left: 0;
	z-index: 1;
	display: none;
	justify-content: space-between;
	overflow-y: scroll;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-text-alternate);
	animation: burgerAnimation .3s;

	@include tablet-above {
		top: 81px;
	}

	@include desktop {
		display: flex;
		position: static;
		align-items: center;
		justify-content: flex-start;
		overflow-y: hidden;
		margin-right: auto;
		width: auto;
		height: auto;
		background: transparent;
	}

	&--open {
		display: flex;
	}
}

.nav__menu {
	@include desktop-before {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 24px;
		padding: 2px;
	}
}

.nav__wrapper-menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 4px;
		width: 100%;
		background-color: var(--purple);
		transition: all .3s ease 0s;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	& span {
		height: 4px;
		width: 100%;
		transform: scale(1);
		background-color: var(--purple);
	}
}

.nav__wrapper-menu.active span {
	transform: scale(0);
}

.nav__wrapper-menu.active::before {
	top: 50%;
	transform: translate(0, -50%) rotate(-45deg);
	border-radius: 2px;
}

.nav__wrapper-menu.active::after {
	bottom: 50%;
	transform: translate(0, 50%) rotate(45deg) ;
	border-radius: 2px;
}

.nav__list {
	width: 100%;
	text-align: left;

  	@include tablet-above {
		padding: 0 32px;
	}

	@include desktop {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		background: var(--color-text-alternate);
		gap: 15px;
	}

	&--open {
		display: flex;
	}

	&--child {
    display: flex;
	flex-direction: column;

		@include tablet-above {
			padding: 0;
		}

		@include desktop {
      		position: absolute;
			top: 88px;
			left: 442px;
			display: none;
			// display: flex;
			flex-direction: column;
			border-radius: 5px;
			padding: 4px 0;
			width: auto;
			min-width: 194px;
			box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
			text-align: left;
			gap: 0;
			pointer-events: auto;

			&::before {
				content: "";
				position: absolute;
				top: -4px;
				left: 50%;
				width: 24px;
				height: 24px;
				// box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
				background-color: #fff;
				transform: rotate(45deg) translateX(-50%);
			}

			&::after {
				content: "";
				position: absolute;
				top: -19px;
				left: 0;
				width: 100%;
				height: 20px;
				background: transparent;
			}
		}
	}
}

.nav__list-child--open {
	display: flex;
}

.nav__more:hover .nav__list--child,
.nav__more:focus-within .nav__list--child {
	@include desktop {
	  display: flex;
	}
}

.nav__item {
	border-bottom: 1px solid var(--purple-secondry);
  	display: flex;
	overflow-wrap: break-word;

	@include desktop {
		border: none;
		min-width: 66px;
		transition: color .3s;
	}

	@include hover {
		color: var(--purple-hover);
	}

	&:active {
		@include desktop {
			color: var(--purple-active);
		}
	}

	&--parent {
		transition:
			color .3s,
			border-color .3s;

		@include desktop {
			border-bottom: 2px solid transparent;
		}

		@include hover {
			color: var(--purple-hover);
		}

		&:active {
			@include desktop {
				border-color: var(--purple-active);
			}
		}
	}

	&--child {
		&:not(:last-child) {
			@include desktop {
				border-bottom: 1px solid var(--purple-secondry);
			}
		}

		@include desktop {
			position: relative;
			width: 100%;
		}
	}

	&--current {
		@include desktop {
			border-bottom: 2px solid var(--purple-active);
			color: var(--purple-active);
		}
	}

	&:nth-child(1) a {
		@include mobile {
			padding-top: 40px;
		}

		@include tablet {
			padding-top: 72px;
		}
	}
}

.nav__more {
	// display: none;
	display: flex;

	@include desktop {
		// position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 15px;
		max-height: 44px;
		text-align: center;
		cursor: pointer;
		transition:
			color 0.3s,
			border-color 0.3s;

		& svg {
			transition: stroke .3s;
		}
	}

	@include hover {
		color: var(--purple-hover);
		border-color: var(--purple-hover);

		& svg {
			stroke: var(--purple-hover);
		}
	}

	&:active {
		color: var(--purple-active);
		border-color: var(--purple-active);

		& svg {
			stroke: var(--purple-active);
		}
	}

	&--open {
		display: flex;
	}
}

.nav__more-button {
	display: none;

	@include desktop {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: .01em;
	}
}

.nav__more-icon {
	@include desktop {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 5px;
		width: 24px;
		height: 24px;
	}
}

.nav__more:hover .nav__more-icon {
	padding-right: 5px;
	padding-left: 0;
	transform: rotate(180deg);
}

.nav__more-icon svg {
	fill: none;
	stroke: var(--title);
	stroke-width: 2px;
}

.nav__link {
	padding: 8px 15px;
	font-weight: 600;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: .01em;
	color: var(--title);
	width: 100%;
	transition: color .3s;

  @include tablet-above {
    font-size: 36px;
    line-height: 128%;
  }

  @include desktop {
    padding: 10px 0;
    font-size: 16px;
    line-height: 150%;
    width: 100%;
  }

  @include hover {
	color: var(--purple-hover);
  }

  &:active {
	color: var(--purple-active);
  }

	&--child {
		@include desktop {
			padding: 10px 15px;
			background-color: #fff;
		}
	}
}
