.page__body {
	display: flex;
	flex-direction: column;
	overflow-anchor: none;
	margin: 0;
	min-width: 320px;
	min-height: 100dvh;
	font-family: var(--font-family);
	font-weight: 500;
	font-style: normal;
	font-feature-settings: "pnum" on, "lnum" on;
	font-size: 16px;
	color: var(--text);
	background-color: #fff;
	overscroll-behavior: none;
}
