extends layout/layout
block const
	- const isHomePage = true;
block meta
	title Language to go
	meta(name="description" content="сайт")
block content
	section.main__container.container
		div
			img(src="img/content/student.webp" width="288" height="200" alt="Ученик за ноутбуком")
		p Language to go
		p Онлайн-школа иностранных языков
		p Достигайте своих целей с помощью авторских игровых методик от носителей языка
		a(href="#") Попробовать бесплатно
		a(href="#")
			div
				+icon(60, 60, 'play-video')
			p Посмотреть промо-ролик
block prepend page-bottom


//- picture
//- 	source(media="(min-width: 980px)" srcset="./docs/img/.webp" type="image/webp")
//- 	source(media="(min-width: 660px)" srcset="./docs/img.webp" type="image/webp")
//- 	source(srcset="./docs/img.webp" type="image/webp")
//- 	source(media="(min-width: 980px)" srcset="./img/preview-image-desktop.jpg")
//- 	source(media="(min-width: 660px)" srcset="./img/preview-image-tablet.jpg")
//- 	img(class="" src="./docs/img/.jpg" width="" height="" alt="")
