extends layout/layout
block const
	- const isHomePage = true;
block meta
	title Language to go
	meta(name="description" content="сайт")
block content
	section.main__container.container
		div
			img(src="img/content/student.webp" width="288" height="200" alt="Ученик за ноутбуком")
		p Language to go
		p Онлайн-школа иностранных языков
		p Достигайте своих целей с помощью авторских игровых методик от носителей языка
		a(href="#") Попробовать бесплатно
		a(href="#")
			div
				+icon(60, 60, 'play-video')
			p Посмотреть промо-ролик
block prepend page-bottom
