:root {
	--color-text-main: #000;
	--color-text-alternate: #fff;
	--blue: #2e90d1;
	--purple: #78258d;
	--text: #585858;
	--title: #232323;
	--grey: #828282;
	--purple-active: #641f76;
	--purple-border: #bb92c6;
	--purple-focus: #d2b6d9;
	--purple-hover: #8e49a0;
	--purple-main: #78258d;
	--purple-secondry: #efefff;
	--red-active: #be1c1f;
	--red-border: #f19092;
	--red-focus: #f6b5b6;
	--red-hover: #e84649;
	--red-main: #e42125;
	--red-secondry: #ffefef;
	--blue-active: #2678ae;
	--blue-border: #96c7e8;
	--blue-focus: #b9daf0;
	--blue-hover: #51a2d9;
	--blue-main: #2e90d1;
	--blue-secondary: #def1ff;
	--grey-active: #bdbdbd;
	--grey-border: #f1f1f1;
	--grey-focus: #f6f6f6;
	--grey-hover: #e8e8e8;
	--grey-main: #e3e3e3;
	--grey-secondary: #f9f9f9;
	--orange-active: #c55616;
	--orange-border: #f5b38c;
	--orange-focus: #f9ccb3;
	--orange-hover: #ef8040;
	--orange-main: #ec671a;
	--orange-secondary: #fbe1d1;
	--yellow-active: #d4ac00;
	--yellow-border: #fee680;
	--yellow-focus: #ffefaa;
	--yellow-hover: #fed62b;
	--yellow-main: #fece00;
	--yellow-secondary: #fff5cc;
	--green-active: #1cbe2b;
	--green-border: #90f199;
	--green-focus: #b5f6bb;
	--green-hover: #46e856;
	--green-main: #21e434;
	--green-secondary: #d3fad6;
	--dark-green-active: #238e2e;
	--dark-green-border: #94d49b;
	--dark-green-focus: #b8e3bc;
	--dark-green-hover: #4eb858;
	--dark-green-main: #2aaa37;
	--dark-green-secondary: #d4eed7;
	--font-family: "Gilroy", sans-serif;
	--second-family: "Lato", sans-serif;
}
